<h1 class="center-align">Hello friend.</h1>
<p class="center-align">
  Welcome to this booking system. Please either
  <%= link_to 'Sign In', signin_path %>
  or
  <%= link_to 'Sign Up', signup_path %>
  to see what it's all about.
</p>
<div class="center-align" style="padding-top:15px;">
  <%= link_to 'Sign Up', signup_path, class: 'waves-effect waves-light btn' %>
  <%= link_to 'Sign In', signin_path, class: 'waves-effect waves-light btn' %>
</div>
