<h1 class="center-align">Hello friend.</h1>
<p class="center-align">Welcome to this booking system. Please either Sign In or Sign Up to see what it's all about.</p>
<%= link_to 'Sign Up', signup_path, class: 'waves-effect waves-light btn' %>
<%= link_to 'Sign In', signin_path, class: 'waves-effect waves-light btn' %>
